﻿@model Madmox.Website.Web.ViewComponents.Navigation.NavigationResponseDTO
<nav>
    @if (Model.Category == "account")
    {
        if (User.Identity.IsAuthenticated)
        {
            <nav-entry category="account" subcategory="profile" url="@Url.Page("/Account/Profile")">Mon compte</nav-entry>
            <nav-entry category="account" subcategory="password" url="@Url.Page("/Account/Password")">Mot de passe</nav-entry>
            <form action="@Url.Page("/Account/SignOut", new { ReturnUrl = $"{Context.Request.Path}{Context.Request.QueryString}" })" method="post">
                @Html.AntiForgeryToken()
                <input type="submit" value="Déconnexion" />
            </form>
        }
        else
        {
            <nav-entry category="account" subcategory="signin" url="@Url.Page("/Account/SignIn")">Connexion</nav-entry>
        }
    }
    else if (Model.Category == "recipes")
    {
        foreach (var recipeCategory in Model.RecipeCategories.OrderBy(x => x.Position))
        {
            <nav-entry category="recipes" subcategory="@(recipeCategory.Id.ToString())" url="@Url.Page("/Recipes/Category", new { id = recipeCategory.Id, slug = recipeCategory.Name.Slugify() })">@(recipeCategory.Name)</nav-entry>
        }
    }
    else
    {
        <nav-entry category="default" subcategory="index" url="@Url.Page("/Index")">Accueil</nav-entry>
    }
</nav>
