﻿@page "~/recipes/categories/{id:Guid}/{slug?}"
@model Madmox.Website.Web.Pages.Recipes.CategoryModel
@inject IOptions<CoreConfiguration> CoreConfiguration
@using Madmox.Website.Web.ViewModels.Recipes.Category
@{
	ViewData["Title"] = $"{Model.Name} - Recettes";
	ViewData[Constants.Navigation.CATEGORY] = "recipes";
	ViewData[Constants.Navigation.SUBCATEGORY] = Model.Id.ToString();
}
@section HeadEnd {
<meta property="og:title" content="@Model.Name - Recettes" />
<meta property="og:type" content="website" />
<meta property="og:image" content="@CoreConfiguration.Value.WebsiteBaseUrl.SetPathAndQuery($"/assets/images/recipes/categories/{Model.Id}/photo.png")" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="400" />
<meta property="og:url" content="@CoreConfiguration.Value.WebsiteBaseUrl.SetPathAndQuery(Url.Page("./Category", new { id = Model.Id, slug = Model.Name.Slugify() }))" />
<meta property="og:site_name" content="www.madmox.fr" />
<meta property="og:description" content="Découvre toutes les recettes que je prépare régulièrement !" />
<meta property="og:locale" content="fr_FR" />
<meta property="twitter:card" content="summary_large_image" />
<link href="~/static/css/recipes.css" rel="stylesheet" />
}

<div class="recipes-category">
	<h1>@(Model.Name)</h1>
	@if (Model.CanManage)
	{
		<ul class="admin-actions">
			<li><a href="@Url.Page("./RecipeNew", new { category_id = Model.Id })">✚ Ajouter une recette</a></li>
			<li><a href="@Url.Page("./CategoryEdit", new { id = Model.Id, slug = Model.Name.Slugify() })">✎ Éditer cette catégorie</a></li>
			@if (Model.Recipes.Count == 0)
			{
				<li><a href="@Url.Page("./CategoryDelete", new { id = Model.Id, slug = Model.Name.Slugify() })">✘ Supprimer cette catégorie</a></li>
			}
		</ul>
	}
	<div class="recipes-items">
		@if (Model.Recipes.Count > 0)
		{
			@foreach (RecipeVM recipe in Model.Recipes.OrderBy(x => x.Name))
			{
				<a href="@Url.Page("./Recipe", new { id = recipe.Id, slug = recipe.Name.Slugify() })" title="@(recipe.Name)">
					<div class="image-container">
						<img src="~/assets/images/recipes/recipes/@(recipe.Id)/photo.png" alt="@(recipe.Name)" height="200" width="300" />
					</div>
					<div class="image-label">@(recipe.Name)</div>
				</a>
			}
		}
		else
		{
			@:Il n'y a encore aucune recette dans cette catégorie.
		}
	</div>
</div>
