﻿@page "~/recipes/categories/new"
@model Madmox.Website.Web.Pages.Recipes.CategoryNewModel
@{
	ViewData["Title"] = "Nouvelle catégorie - Recettes";
	ViewData[Constants.Navigation.CATEGORY] = "recipes";
	ViewData[Constants.Navigation.SUBCATEGORY] = "index";
}
@section HeadEnd {
<link href="~/static/css/recipes.css" rel="stylesheet" />
}

<div class="recipes-category-new recipes-narrow">
	<h1>Nouvelle catégorie</h1>
	<form enctype="multipart/form-data" method="post">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="field">
			<div>
				<label asp-for="Name">Nom *</label>
				<input asp-for="Name" placeholder="Plats" />
			</div>
			<span class="field-description">Le nom de la catégorie.</span>
			<span asp-validation-for="Name"></span>
		</div>
		<div class="field">
			<div>
				<label asp-for="PhotoFile">Photo *</label>
				<input asp-for="PhotoFile" type="file" />
			</div>
			<span class="field-description">La photo principle de la catégorie. Le fichier ne doit pas excéder 1 Mo et son extension doit être PNG.</span>
			<span asp-validation-for="PhotoFile"></span>
		</div>
		<div class="field">
			<div>
				<label asp-for="Position">Position *</label>
				<input asp-for="Position" type="number" min="0" placeholder="4" />
			</div>
			<span class="field-description">La position de la catégorie de recette dans la liste des catégories.</span>
			<span asp-validation-for="Position"></span>
		</div>
		<div class="form-submit">
			<input type="submit" value="Créer" />
			<a href="@Url.Page("./Index")">Annuler</a>
		</div>
	</form>
</div>
