﻿@page "~/recipes/categories/{id:Guid}/{slug?}/edit"
@model Madmox.Website.Web.Pages.Recipes.CategoryEditModel
@{
	ViewData["Title"] = $"{Model.OriginalName} - Recettes";
	ViewData[Constants.Navigation.CATEGORY] = "recipes";
	ViewData[Constants.Navigation.SUBCATEGORY] = Model.Id.ToString();
}
@section HeadEnd {
<link href="~/static/css/recipes.css" rel="stylesheet" />
}

<div class="recipes-category-edit recipes-narrow">
	<h1>@(Model.OriginalName)</h1>
	<form enctype="multipart/form-data" method="post">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="field">
			<div>
				<label asp-for="Name">Nom *</label>
				<input asp-for="Name" placeholder="Plats" />
			</div>
			<span class="field-description">Le nom de la catégorie.</span>
			<span asp-validation-for="Name"></span>
		</div>
		<div class="field">
			<div>
				<label asp-for="NewPhotoFile">Nouvelle photo</label>
				<input asp-for="NewPhotoFile" type="file" />
			</div>
			<span class="field-description">La photo principle de la catégorie. Le fichier ne doit pas excéder 1 Mo et son extension doit être PNG. Laisser vide pour conserver la photo existante.</span>
			<span asp-validation-for="NewPhotoFile"></span>
		</div>
		<div class="field">
			<div>
				<label asp-for="Position">Position *</label>
				<input asp-for="Position" type="number" min="0" placeholder="4" />
			</div>
			<span class="field-description">La position de la catégorie de recette dans la liste des catégories.</span>
			<span asp-validation-for="Position"></span>
		</div>
		<div class="form-submit">
			<input type="submit" value="Mettre à jour" />
			<a href="@Url.Page("./Category", new { id = Model.Id, slug = Model.Name.Slugify() })">Annuler</a>
		</div>
	</form>
</div>
