﻿@page "~/recipes/categories"
@model Madmox.Website.Web.Pages.Recipes.IndexModel
@inject IOptions<CoreConfiguration> CoreConfiguration
@using Madmox.Website.Web.ViewModels.Recipes.Index
@{
	ViewData["Title"] = "Recettes";
	ViewData[Constants.Navigation.CATEGORY] = "recipes";
	ViewData[Constants.Navigation.SUBCATEGORY] = "index";
}
@section HeadEnd {
<meta property="og:title" content="Recettes" />
<meta property="og:type" content="website" />
<meta property="og:image" content="@CoreConfiguration.Value.WebsiteBaseUrl.SetPathAndQuery("/static/images/recipes/menu-logo.png")" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />
<meta property="og:url" content="@CoreConfiguration.Value.WebsiteBaseUrl.SetPathAndQuery(Url.Page("./Index"))" />
<meta property="og:site_name" content="www.madmox.fr" />
<meta property="og:description" content="Découvre toutes les recettes que je prépare régulièrement !" />
<meta property="og:locale" content="fr_FR" />
<meta property="twitter:card" content="summary_large_image" />
<link href="~/static/css/recipes.css" rel="stylesheet" />
}

<div class="recipes-index">
	<h1>Catégories</h1>
	@if (Model.CanManage)
	{
		<ul class="admin-actions">
			<li><a href="@Url.Page("./CategoryNew")">✚ Ajouter une catégorie</a></li>
		</ul>
	}
	<div class="recipes-items">
		@if (Model.Categories.Count > 0)
		{
			@foreach (CategoryVM category in Model.Categories.OrderBy(x => x.Position))
			{
				<a href="@Url.Page("./Category", new { id = category.Id, slug = category.Name.Slugify() })" title="@(category.Name)">
					<div class="image-container">
						<img src="~/assets/images/recipes/categories/@(category.Id)/photo.png" alt="@(category.Name)" height="400" width="600" />
					</div>
					<div class="image-label">@(category.Name)</div>
				</a>
			}
		}
		else
		{
			@:Il n'y a encore aucune catégorie de recette.
		}
	</div>
</div>
