﻿@page "~/recipes/recipes/new"
@model Madmox.Website.Web.Pages.Recipes.RecipeNewModel
@{
	ViewData["Title"] = "Nouvelle recette - Recettes";
	ViewData[Constants.Navigation.CATEGORY] = "recipes";
	ViewData[Constants.Navigation.SUBCATEGORY] = Model.CategoryId.ToString();
}
@section HeadEnd {
<link href="~/static/css/recipes.css" rel="stylesheet" />
}

<div class="recipes-recipe-new recipes-narrow">
	<h1>Nouvelle recette</h1>
	<form enctype="multipart/form-data" method="post">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="field">
			<div>
				<label asp-for="Name">Nom *</label>
				<input asp-for="Name" placeholder="Tarte au citron" />
			</div>
			<span class="field-description">Le nom de la recette.</span>
			<span asp-validation-for="Name"></span>
		</div>
		<div class="field">
			<div>
				<label asp-for="PhotoFile">Photo *</label>
				<input asp-for="PhotoFile" type="file" />
			</div>
			<span class="field-description">La photo principle de la recette. Le fichier ne doit pas excéder 1 Mo et son extension doit être PNG.</span>
			<span asp-validation-for="PhotoFile"></span>
		</div>
		<div class="field">
			<div>
				<label asp-for="NbPersons">Nombre de personnes *</label>
				<input asp-for="NbPersons" type="number" min="1" max="100" placeholder="4" />
			</div>
			<span class="field-description">Le nombre de personnes pour lequel la recette est prévue.</span>
			<span asp-validation-for="NbPersons"></span>
		</div>
		<div class="field">
			<div>
				<label asp-for="PreparationTime">Temps de préparation *</label>
				<input asp-for="PreparationTime" type="text" maxlength="20" placeholder="0:00:20:00" />
			</div>
			<span class="field-description">Le temps pendant lequel le cuisinier doit s'occuper activement de la préparation. Format : '@NodaTime.Text.DurationPattern.Roundtrip.PatternText'.</span>
			<span asp-validation-for="PreparationTime"></span>
		</div>
		<div class="field">
			<div>
				<label asp-for="TotalTime">Temps total *</label>
				<input asp-for="TotalTime" type="text" maxlength="20" placeholder="0:01:00:00" />
			</div>
			<span class="field-description">Le temps total entre le début de la recette et le moment où elle peut être servie. Format : '@NodaTime.Text.DurationPattern.Roundtrip.PatternText'.</span>
			<span asp-validation-for="TotalTime"></span>
		</div>
		<div class="field">
			<div>
				<label asp-for="Ingredients">Ingrédients *</label>
				<textarea asp-for="Ingredients" placeholder="Ingrédient 1@(Environment.NewLine)Ingrédient 2"></textarea>
			</div>
			<span class="field-description">La liste des ingrédients de la recette. Une entrée par ligne.</span>
			<span asp-validation-for="Ingredients"></span>
		</div>
		<div class="field">
			<div>
				<label asp-for="Tools">Ustensiles *</label>
				<textarea asp-for="Tools" placeholder="Ustensile 1@(Environment.NewLine)Ustensile 2"></textarea>
			</div>
			<span class="field-description">La liste des ustensiles de la recette. Une entrée par ligne.</span>
			<span asp-validation-for="Tools"></span>
		</div>
		<div class="field">
			<div>
				<label asp-for="Steps">Étapes *</label>
				<textarea asp-for="Steps" placeholder="Étape 1@(Environment.NewLine)Étape 2"></textarea>
			</div>
			<span class="field-description">La liste des étapes de la recette. Une entrée par ligne.</span>
			<span asp-validation-for="Steps"></span>
		</div>
		<div class="form-submit">
			<input type="submit" value="Créer" />
			<a href="@Url.Page("./Category", new { id = Model.CategoryId })">Annuler</a>
		</div>
	</form>
</div>
