﻿@page "~/recipes/recipes/{id:Guid}/{slug?}"
@model Madmox.Website.Web.Pages.Recipes.RecipeModel
@inject IOptions<CoreConfiguration> CoreConfiguration
@{
	ViewData["Title"] = $"{Model.Name} - Recettes";
	ViewData[Constants.Navigation.CATEGORY] = "recipes";
	ViewData[Constants.Navigation.SUBCATEGORY] = Model.CategoryId.ToString();
}
@section HeadEnd {
<meta property="og:title" content="@Model.Name - Recettes" />
<meta property="og:type" content="website" />
<meta property="og:image" content="@CoreConfiguration.Value.WebsiteBaseUrl.SetPathAndQuery($"/assets/images/recipes/recipes/{Model.Id}/photo.png")" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="400" />
<meta property="og:url" content="@CoreConfiguration.Value.WebsiteBaseUrl.SetPathAndQuery(Url.Page("./Recipe", new { id = Model.Id, slug = Model.Name.Slugify() }))" />
<meta property="og:site_name" content="www.madmox.fr" />
<meta property="og:description" content="Découvre toutes les recettes que je prépare régulièrement !" />
<meta property="og:locale" content="fr_FR" />
<meta property="twitter:card" content="summary_large_image" />
<link href="~/static/css/recipes.css" rel="stylesheet" />
}

<div class="recipes-recipe recipes-narrow">
	<h1>@(Model.Name)</h1>
	@if (Model.CanManage)
	{
		<ul class="admin-actions">
			<li><a href="@Url.Page("./RecipeEdit", new { id = Model.Id, slug = Model.Name.Slugify() })">✎ Éditer cette recette</a></li>
			<li><a href="@Url.Page("./RecipeDelete", new { id = Model.Id, slug = Model.Name.Slugify() })">✘ Supprimer cette recette</a></li>
		</ul>
	}
	<hr />
	<div class="image-container">
		<img src="~/assets/images/recipes/recipes/@(Model.Id)/photo.png" alt="@(Model.Name)" width="600" height="400" />
	</div>
	<div class="recipes-recipe-infos">
		<div>👤 Nombre de personnes :</div>
		<div>@(Model.NbPersons)</div>
		<div>⌚ Temps de préparation :</div>
		<div>@(Model.PreparationTime.Humanize(precision: 2, culture: Constants.Cultures.FR_FR, maxUnit: TimeUnit.Hour, minUnit: TimeUnit.Minute))</div>
		<div>🕑 Temps total :</div>
		<div>@(Model.TotalTime.Humanize(precision: 2, culture: Constants.Cultures.FR_FR, maxUnit: TimeUnit.Hour, minUnit: TimeUnit.Minute))</div>
	</div>
	<hr />
	<div class="recipes-recipe-setup">
		<div class="recipes-recipe-ingredients">
			<h2>Ingrédients</h2>
			<ul>
				@foreach (string ingredient in Model.Ingredients)
				{
					<li>@ingredient</li>
				}
			</ul>
		</div>
		<div class="recipes-recipe-tools">
			<h2>Ustensiles</h2>
			<ul>
				@foreach (string tool in Model.Tools)
				{
					<li>@tool</li>
				}
			</ul>
		</div>
	</div>
	<hr />
	<div class="recipes-recipe-steps">
		<h2>Étapes</h2>
		<ul>
			@foreach (string step in Model.Steps)
			{
				<li>@step</li>
			}
		</ul>
	</div>
</div>
