﻿@page "~/recipes/recipes/{id:Guid}/{slug?}/delete"
@model Madmox.Website.Web.Pages.Recipes.RecipeDeleteModel
@{
	ViewData["Title"] = $"{Model.Name} - Recettes";
	ViewData[Constants.Navigation.CATEGORY] = "recipes";
	ViewData[Constants.Navigation.SUBCATEGORY] = Model.CategoryId.ToString();
}
@section HeadEnd {
<link href="~/static/css/recipes.css" rel="stylesheet" />
}

<div class="recipes-recipe-delete recipes-narrow">
	<h1>@(Model.Name)</h1>
	<form method="post">
		<div asp-validation-summary="ModelOnly"></div>
		<p class="delete-confirmation">Voulez-vous vraiment supprimer cette recette ?</p>
		<div class="form-submit">
			<input type="submit" value="Supprimer" />
			<a href="@Url.Page("./Recipe", new { id = Model.Id, slug = Model.Name.Slugify() })">Annuler</a>
		</div>
	</form>
</div>
