﻿<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>@ViewData["Title"] - www.madmox.fr</title>
	<meta name="description" content="@ViewData["Description"]" />
	<meta name="robots" content="index,follow" />
	<link rel="icon" type="image/png" sizes="16x16" href="~/static/images/favicon_16.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="~/static/images/favicon_32.png" />
	<link rel="stylesheet" href="~/static/css/site.css" />
	@RenderSection("HeadEnd", required: false)
</head>
<body>
	<header class="page-head">
		<nav>
			<nav-entry category="default" url="@Url.Page("/Index")">Accueil</nav-entry>
			<nav-entry category="recipes" url="@Url.Page("/Recipes/Index")">Recettes</nav-entry>
		</nav>
		<nav class="account">
			@if (User.Identity.IsAuthenticated)
			{
				<nav-entry category="account" subcategory="profile" url="@Url.Page("/Account/Profile")">Mon compte</nav-entry>
			}
			else if ((string)ViewContext.RouteData.Values["page"] == "/Account/SignIn")
			{
				<nav-entry category="account" subcategory="signin" url="@Url.Page("/Account/SignIn", new { ReturnUrl = Context.Request.Query["ReturnUrl"] })">Connexion</nav-entry>
			}
			else
			{
				<nav-entry category="account" subcategory="signin" url="@Url.Page("/Account/SignIn", new { ReturnUrl = $"{Context.Request.Path}{Context.Request.QueryString}" })">Connexion</nav-entry>
			}
		</nav>
	</header>
	<main class="page-content">
		@await Component.InvokeAsync("Navigation")
		<div class="page-view">
			@RenderBody()
		</div>
	</main>
	<footer class="page-footer">
		@await Component.InvokeAsync("Footer")
	</footer>
	@RenderSection("BodyEnd", required: false)
</body>
</html>
