﻿.page-view {
    width: 100%;
    max-width: 60rem;
    padding: 0 1rem 1rem 1rem;
}

.page-view h1 {
    text-align: center;
}

.page-view > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page-view form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 42rem;
    margin: 0 0 1rem 0;
}

.field > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.field > .label {
    justify-content: space-between;
}

.field > .nolabel {
    justify-content: center;
}

.field label {
    display: inline-block;
    width: 12rem;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.field input[type="text"], .field input[type="password"], .field input[type="email"], .field input[type="number"] {
    width: 100%;
    max-width: 30rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

.field input.input-validation-error {
    border-color: #C81E00;
}

.field .field-validation-error {
    color: #C81E00;
}

.page-view input[type="submit"] {
    width: 100%;
    max-width: 40rem;
    padding: 1rem;
    margin: 1rem 0 0 0;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #C81E00;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
}

.page-view input[type="submit"]:hover, .page-view input[type="submit"]:focus {
    background-color: #FF3200;
    cursor: pointer;
}

.validation-summary-errors {
    width: 100%;
    margin: 0 0 2rem 0;
}

.validation-summary-errors ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.validation-summary-errors li {
    list-style-type: none;
    color: #C81E00;
}

.success {
    color: #009600;
    font-size: 1.8rem;
    margin: 1em 0 0 0;
}
