﻿.page-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.page-view > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.page-view h1 {
    width: 100%;
    margin: 0;
    max-width: 60rem;
    text-align: center;
}

.admin-actions {
    width: 100%;
    max-width: 60rem;
    margin: 0;
    padding: 1rem;
    border: 1px solid #666666;
    border-radius: 8px;
}

.admin-actions li {
    list-style: none;
}

.admin-actions a {
    text-decoration: none;
    color: #333333;
}

.admin-actions a:visited {
    color: inherit;
}

.admin-actions a:hover {
    text-decoration: underline;
}

.recipes-narrow {
    width: 100%;
    max-width: 60rem;
}

.recipes-narrow hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #333333;
}

.recipes-items {
    width: 100%;
    max-width: 100rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.recipes-items a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #333333;
    row-gap: 1rem;
}

.recipes-items a:hover {
    box-shadow: 0 0 2rem #000000;
}

.recipes-items .image-label {
    height: 100%;
    text-align: center;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipes-index .recipes-items a {
    width: 100%;
    max-width: 600px;
}

.recipes-index .image-container {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 400px;
}

.recipes-index .recipes-items img {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 400px;
    display: block;
}

.recipes-index a > div {
    font-size: 1.5rem;
}

.recipes-category .recipes-items a {
    width: 100%;
    max-width: 300px;
}

.recipes-category .image-container {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 200px;
}

.recipes-category .recipes-items img {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 200px;
    display: block;
}

.recipes-category a > div {
    font-size: 1rem;
}

.recipes-recipe .image-container {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 400px;
}

.recipes-recipe img {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 400px;
    display: block;
}

.recipes-recipe-infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 1ch;
    margin: 1rem 0 1rem 0;
    font-style: italic;
    font-size: 0.8rem;
}

.recipes-recipe-setup {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin: 0 0 1rem 0;
}

.recipes-recipe-setup ul {
    padding: 0 0 0 1rem;
    font-size: 0.8rem;
}

.recipes-recipe-setup li {
    text-align: justify;
}

.recipes-recipe-steps {
    width: 100%;
}

.recipes-recipe-steps ul {
    padding: 0 0 0 1rem;
    font-size: 0.8rem;
}

.recipes-recipe-steps li {
    text-align: justify;
}

.page-view form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 1rem 0;
}

.field > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.field label {
    display: inline-block;
    width: 20rem;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.field input[type="text"], .field input[type="password"], .field input[type="email"], .field input[type="number"], .field input[type="file"], .field select, .field textarea {
    padding: 0.5rem;
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

.field input[type="text"], .field input[type="password"], .field input[type="email"], .field input[type="number"], .field input[type="file"], .field select {
    width: 100%;
    max-width: 40rem;
    font-size: 1.2rem;
}

.field textarea {
    height: 8rem;
    min-height: 8rem;
    width: 100%;
    font-size: 1rem;
    resize: vertical;
}

.field-description {
    font-size: 0.8rem;
    font-style: italic;
}

.field input.input-validation-error {
    border-color: #C81E00;
}

.field .field-validation-error {
    color: #C81E00;
}

.delete-confirmation {
    text-align: center;
    font-size: 1.5rem;
}

.form-submit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
}

.form-submit input[type="submit"] {
    width: 100%;
    max-width: 40rem;
    padding: 1rem;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #C81E00;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
}

.form-submit input[type="submit"]:hover, .form-submit input[type="submit"]:focus {
    background-color: #FF3200;
    cursor: pointer;
}

.form-submit a {
    display: inline-block;
    width: 100%;
    max-width: 20rem;
    padding: 1rem;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    background-color: #222222;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    text-decoration: none;
}

.form-submit a:hover, .form-submit a:focus {
    background-color: #444444;
    cursor: pointer;
}

.validation-summary-errors {
    width: 100%;
    margin: 0 0 2rem 0;
}

.validation-summary-errors ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.validation-summary-errors li {
    list-style-type: none;
    color: #C81E00;
}
