﻿* {
    box-sizing: border-box;
}

html, body {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    color: #333333;
    line-height: 1.5;
}

body {
    display: grid;
    grid-template-rows: 3rem 1fr 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
    text-align: justify;
}

.page-head {
    background-color: #222222;
    width: 100%;
    padding: 0rem 5% 0rem 5%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.page-head nav {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.page-head nav a {
    color: #9d9d9d;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    white-space: nowrap;
}

.page-head nav a:hover {
    background-color: #444444;
}

.page-head nav a.active {
    background-color: #444444;
}

.page-head .account {
    margin-left: auto;
}

.page-content {
    width: 100%;
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.page-content > nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.page-content > nav a {
    color: #666666;
    text-decoration: none;
    padding: 0 1rem;
    font-size: 1.5rem;
}

.page-content > nav a.active {
    font-weight: bold;
}

.page-content > nav a:hover {
    text-decoration: underline;
}

.page-content > nav form {
    font-size: 1.5rem;
}

.page-content > nav input {
    margin: 0;
    padding: 0 1rem;
    border-style: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    color: #666;
    cursor: pointer;
}

.page-content > nav input:hover {
    text-decoration: underline;
}

.page-footer {
    background-color: #cccccc;
    font-size: 0.8rem;
    font-family: 'Courier New';
    width: 100%;
    height: 100%;
    padding: 0 2rem 0 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
}

.page-footer div {
    white-space: nowrap;
}

.page-footer div:nth-child(1) {
    text-align: left;
}

.page-footer div:nth-child(2) {
    text-align: right;
}
