﻿@page "~/account/password"
@model Madmox.Website.Web.Pages.Account.PasswordModel
@{
	ViewData["Title"] = $"Mon compte";
	ViewData[Constants.Navigation.CATEGORY] = "account";
	ViewData[Constants.Navigation.SUBCATEGORY] = "password";
}
@section HeadEnd {
<link href="~/static/css/account.css" rel="stylesheet" />
}

<div class="account-password">
	<h1>Modifier mon mot de passe</h1>
	<form method="post">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="field">
			<div class="nolabel">
				<input asp-for="CurrentPassword" placeholder="Mot de passe actuel *" />
			</div>
			<span asp-validation-for="CurrentPassword"></span>
		</div>
		<div class="field">
			<div class="nolabel">
				<input asp-for="NewPassword" placeholder="Nouveau mot de passe *" />
			</div>
			<span asp-validation-for="NewPassword"></span>
		</div>
		<div class="field">
			<div class="nolabel">
				<input asp-for="PasswordConfirmation" placeholder="Confirmation du mot de passe *" />
			</div>
			<span asp-validation-for="PasswordConfirmation"></span>
		</div>
		<input type="submit" value="Mettre à jour" />
	</form>
	@if (Model.DisplayUpdateConfirmation)
	{
		<div class="success">✔️ Mise à jour effectuée !</div>
	}
</div>
