﻿@page "~/account/profile"
@model Madmox.Website.Web.Pages.Account.ProfileModel
@{
	ViewData["Title"] = $"Mon compte";
	ViewData[Constants.Navigation.CATEGORY] = "account";
	ViewData[Constants.Navigation.SUBCATEGORY] = "profile";
}
@section HeadEnd {
<link href="~/static/css/account.css" rel="stylesheet" />
}

<div class="account-profile">
	<h1>Mon compte</h1>
	<form method="post">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="field">
			<div class="label">
				<label asp-for="LastName">Nom *</label>
				<input asp-for="LastName" placeholder="Nom *" />
			</div>
			<span asp-validation-for="LastName"></span>
		</div>
		<div class="field">
			<div class="label">
				<label asp-for="FirstName">Prénom *</label>
				<input asp-for="FirstName" placeholder="Prénom *" />
			</div>
			<span asp-validation-for="FirstName"></span>
		</div>
		<input type="submit" value="Mettre à jour" />
	</form>
	@if (Model.DisplayUpdateConfirmation)
	{
		<div class="success">✔️ Mise à jour effectuée !</div>
	}
</div>
