﻿@page "~/account/signin"
@model Madmox.Website.Web.Pages.Account.SignInModel
@{
	ViewData["Title"] = $"Connexion";
	ViewData[Constants.Navigation.CATEGORY] = "account";
	ViewData[Constants.Navigation.SUBCATEGORY] = "signin";
}
@section HeadEnd {
<link href="~/static/css/account.css" rel="stylesheet" />
}

<div class="account-signin">
	<h1>Connexion</h1>
	<form method="post">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="field">
			<div class="nolabel">
				<input asp-for="Email" placeholder="Email *" />
			</div>
			<span asp-validation-for="Email"></span>
		</div>
		<div class="field">
			<div class="nolabel">
				<input asp-for="Password" placeholder="Mot de passe *" />
			</div>
			<span asp-validation-for="Password"></span>
		</div>
		<input type="submit" value="Connexion" />
	</form>
</div>
