﻿@page "~/accessdenied"
@{
    ViewData["Title"] = "Accès refusé";
    ViewData[Constants.Navigation.CATEGORY] = "default";
    ViewData[Constants.Navigation.SUBCATEGORY] = "accessdenied";
}

<h1>Accès refusé</h1>
<p>Vous n'avez pas les droits suffisants pour accéder à cette page.</p>
