﻿@page "{code:int?}"
@{
    ViewData["Title"] = "Erreur";
    ViewData[Constants.Navigation.CATEGORY] = "default";
    ViewData[Constants.Navigation.SUBCATEGORY] = "error";
}

@if (string.Equals(RouteData.Values["code"] as string, "404", StringComparison.Ordinal))
{
    ViewData["Title"] = "Page non trouvée";
    <h1>Page non trouvée</h1>
    <p>La page à laquelle vous essayez d'accéder n'existe pas. Vérifiez si le lien que vous essayez d'ouvrir est correct.</p>
}
else
{
    <h1>Erreur</h1>
    <p>Une erreur est survenue lors du traitement de la requête.</p>
}
