﻿@page
@model Madmox.Website.Web.Pages.IndexModel
@inject IOptions<CoreConfiguration> CoreConfiguration
@{
	ViewData["Title"] = "Accueil";
	ViewData[Constants.Navigation.CATEGORY] = "default";
	ViewData[Constants.Navigation.SUBCATEGORY] = "index";
}
@section HeadEnd {
<meta property="og:title" content="Bienvenue sur mon site, visiteur !" />
<meta property="og:type" content="website" />
<meta property="og:image" content="@CoreConfiguration.Value.WebsiteBaseUrl.SetPathAndQuery("/static/images/logo_200.png")" />
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<meta property="og:url" content="@CoreConfiguration.Value.WebsiteBaseUrl.SetPathAndQuery(Url.Page("./Index"))" />
<meta property="og:site_name" content="www.madmox.fr" />
<meta property="og:description" content="Te voilà égaré sur mon site personnel, que j'utilise pour centraliser plusieurs outils pratiques développés par mes soins et dont je fais usage régulièrement." />
<meta property="og:locale" content="fr_FR" />
<meta property="twitter:card" content="summary_large_image" />
<link href="~/static/css/index.css" rel="stylesheet" />
}

<h1>Bienvenue sur mon site, visiteur !</h1>
<p>Te voilà égaré sur mon site personnel, que j'utilise pour centraliser plusieurs outils pratiques développés par mes soins et dont je fais usage régulièrement. Ce n'est pas un blog, donc le contenu n'évolue pas souvent.</p>
<p>Le code source du site et davantage d'informations techniques sont disponibles au bout de <a href="https://bitbucket.org/madmox/madmox-website">ce lien</a>.</p>
